/* your code */
table{
	border-collapse:collapse;
	border:1px solid black;
	
	width:100%
}
thead{
	background-color:blueviolet;
	color:white;
}
tbody{
	color:black;
}
.white{
	background-color:white;
}
.grey{
	background-color:lightgray;
}
th, td{
width:15px;
	text-align:justify;
	
}